* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6abebb;
    background: -webkit-linear-gradient(right, #6abebb, #3ee6c1);
    background: -moz-linear-gradient(right, #6abebb, #3ee6c1);
    background: linear-gradient(to left, #6abebb, #3ee6c1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container {
    background-color: white;
    border-radius: 1rem;
    font-family: "Bree Serif", serif;
}

.form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .form_title {
    font-size: 48px;
}

.form .info_box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .info_box .info_text {
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
}

.form .info_box input {
    outline: none;
    font-size: 18px;
    border: 0.3px solid black;
    border-radius: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}

.toggleColor {
    border: 0.3px solid red;
}

.form .birth_input_container input {
    width: 100px;
}

.birth_input_container #email {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.gender_type {
    font-size: 18px;
    border-radius: 0.5rem;
    outline: none;
}

.form .btn button {
    padding: 10px;
    font-size: 16px;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #3ee6c1;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.popup_message_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0s opacity 0.5;
}

.open_message {
    visibility: visible;
    opacity: 1;
}

.message_box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
    height: 100px;
}

.message_box p {
    padding: 15px;
    font-size: 2rem;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

@media only screen and (max-width: 415px) {
    .form .form_title {
        font-size: 3vh;
    }
    .form .info_box .info_text {
        font-size: 2vh;
    }
    .form .info_box input {
        font-size: 18px;
    }
}